*{
  margin: 0%;
  padding: 0%;
  font-family:sans-serif;
}

.header{
  display:inline-block;
  width: 100%;
  position: sticky;
  color: aliceblue;
  background-color: rgba(112, 107, 107, 0.692);
  padding:10px;
  
}

/* LEFT PANEL */

.left{  
  display:flex;
  flex-direction: column;
  
  float: left;
  /* top:0;
  left:0; */
  width: 5%;  
  min-width: 70px;
  height: 100vh;
  background-color: rgb(216, 41, 10);
    transition-property:width,min-width;
    transition-duration: 0.8s;
    transition-timing-function: ease;
}
.left.expanded{
  width: 12%;
  min-width: 160px;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
  justify-content: center;
  margin: 15px;
}

.menubtn{
  background-color:transparent;
  border-width:0px;
  cursor: pointer;
  color: aliceblue;
  margin: 10px 0px 30px 5px;
  width: 5%;
  transition-property: margin;
  transition-duration: 0.8s;
    transition-timing-function: ease;
  
}
.menuopen{
  margin: 10px 0px 30px 110px;
}
.link{
  text-decoration: none;
  color: black;
}

.navlink{
  display: flex;
  flex-direction: row;
  -ms-flex-align: center;
  justify-content: left;
  margin: 10px 0px 20px 0px;
  border-radius: 7px;
  padding: 5px;
  color: white; 
}
.navlink:hover{
  background-color: rgba(228, 224, 217, 0.418);
}
.span-expand{
  margin-left:10px;
  padding: 4px;
}
.left-setting{
  position: relative;
}
.nav-setting{
  display: none;
}
.nav-setting.open{
  display: block;
  list-style: none;
  position: absolute;
  top:48px;
  left:20px;
}
.nav-setting.open li{
  font-size: small;
  color: white;
  cursor: pointer;
  
  display: flex;
  flex-direction: row;
  -ms-flex-align: center;
  justify-content: left;
  border-radius: 7px;
  padding: 5px;
  text-decoration: none;

  color: white; 
}
.nav-setting.open li:hover{
  background-color: rgba(228, 224, 217, 0.418);
}

/* MAIN SECTION */
.main-wrap{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  /* padding: 3%; */
}
.page-name{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-content: flex-start;
  
  text-align: center; 

}
.page-name div{
  height: 46vh;
  border:1px solid black;
  flex-grow: 1;
   min-width: 300px; 
   padding: 100px;
   box-sizing: border-box;
}

/* FOOTER */
.foot{
  position:absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  color: aliceblue;
  background-color: rgba(112, 107, 107, 0.692);
  padding:10px;
} 




/* .main-flex{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
}
.main-flex-content{
  position: relative;
}
.mainbtn{
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
  background-color: transparent;
  border-width: 1px;
  margin-bottom: 30px;
}
.mainbtn:hover{
  background-color: rgba(233, 225, 225, 0.945);
}
.extra-setting{ 
  display: none;
}
.extra-setting.open{
  display:flex;
  flex-direction: column;
  border: 1px solid black;
  position: absolute;
  top:37px;
  width:98%;
  list-style: none;
}
.extra-setting.open li{
  margin:10px 0px 10px 0px;
  cursor: pointer;
  font-size: small;
  text-align: center;
}
.extra-setting.open li:hover{
  background-color:rgba(233, 225, 225, 0.945) ;
} */


